h1 {
	font-size:50px;
}

body {
	/* Sets the background image */
	background-image: url('background.jpeg');
	/* Makes sure the image covers the full view and is not repeated */
	background-size: cover;
	/* Keeps the background image fixed during scrolling */
	background-attachment: fixed;
	/* Sets the position of the background */
	background-position: center center;
	/* Set the default text color to white for all content in body */
	color: white;
	font-size: 20px;
	/* Ensures the entire body, including min height, covers the whole viewport */
	min-height: 100vh;
	margin: 0; /* Removes default margin */
	padding: 0; /* Removes default padding */
}

form {
	opacity: 0.8;
}

.scrollable-container {
	height: 600px; /* Adjust the height as needed */
	overflow-y: auto; /* Enables vertical scrolling */
	padding: 15px; /* Optional: Adds some space inside the box */
	/* Optional: Adds a border around the scrollable area */
}

#animationContainer {
    position: relative;
    width: 350px;
    height: 500px;
}

#man {
    position: absolute;
    bottom: 0;
    left: 50px; /* Starting position */
    width: 60px; /* Adjust size accordingly */
/*     animation: walking 10s infinite; Animation now spells 'infinite' correctly and loops
 */}

#popcorn {
    position: absolute;
    bottom: 0;
    left: -60px; /* Adjust position next to the man */
    animation: eatPopcorn 1s infinite;
}

#searchText {
    position: absolute;
    bottom: 60px;
    left: 50px; /* Starting position */
    font-size: 12px;
    color: white;
    animation: searching 10s infinite;
}
@keyframes walking {
    0%, 100% {
        left: 50px;
    }
    50% {
        left: 160px; /* Move the man 10px to the right */
    }
}

@keyframes eatPopcorn {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -10px; /* Simulate popcorn popping */
    }
}




@keyframes searching {
    0%, 100% {
        color: white;
    }
    50% {
        color: yellow; 
    }
}

#man:hover {
    transform: scale(1.2); /* Enlarges the man by 20% when hovered */
    filter: brightness(120%); /* Makes the man appear brighter when hovered */
}